* {
	box-sizing: border-box;
}

body {
	overflow: hidden;
	background: rgba(127, 127, 127, 0.05);
}

.main {
	position: relative;
	margin: 200px auto;
	width: 400px;
	height: 400px;
	border: 1px solid red;
	perspective: 400px;
}

.rect {
	width: inherit;
	height: inherit;
	transform-style: preserve-3d;
}

.side {
	position: absolute;
	width: inherit;
	height: inherit;
	background: rgba(0, 128, 0, 0.7);
	/*background-color: green;*/
	border: 1px solid black;
	font-size: 40px;
	line-height: 400px;
	text-align: center;
}

.bottom {
	width: 800px;
	transform: rotateX(-90deg) translateZ(200px) translateX(-200px);
}
.left {
	transform: rotateY(-90deg) translateZ(200px);
}

.left2 {
	transform: rotateY(-90deg) translateZ(400px);
}

.right {
	transform: rotateY(90deg) translateZ(200px);
}

.upper {
	width: 600px;
	transform: rotateX(90deg) translateZ(200px);
}

.face {
	z-index: -1;
	visibility: hidden;
	transform: translateZ(200px);
}

.back {
	width: 600px;
	transform: rotateY(180deg) translateZ(200px);
}

.side:hover {
	background: rgba(255, 255, 255, 0.7);
}