body {
	margin: 0;
	padding: 0;
}

#main {
	width: 100vw;
	height: 100vh;
	box-sizing: border-box;
	box-shadow: 5px 10px 20px grey inset;
	perspective: 162px;
	position: relative;
}

#up {	
	padding: 0;
	margin: 0;
	width: 80%;
	height: 20%;
	border: 4px solid black;
	/*background-color: grey;*/
	transform: rotateX(45deg);
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 10%;
}

#wall {
	padding: 0;
	margin: 0;
	position: absolute;
	top: 15%;
	left: 20%;
	width: 60%;
	height: 60%;
	border: 1px solid black;
	box-sizing: border-box;
}

#floor {
	padding: 0;
	margin: 0;
	width: 80%;
	height: 20%;
	border: 1px solid black;
	/*background-color: grey;*/
	transform: rotateX(45deg);
	box-sizing: border-box;
	position: absolute;
	bottom: 0;
	left: 10%;
	z-index: -1;
}

#left {
	position: absolute;
	top: 15%;
	left: 20%;
	width: 10%;
	height: 80%;
	border: 4px solid black;
	transform: rotateY(45deg);
}

#nav {
	position: absolute;
	top: 15%;
	left: 40%;
	width: 10%;
	height: 80%;
	border: 5px solid black;
	transform: rotateY(65deg);
	box-sizing: border-box;
}

.bar {
	position: absolute;
	top: 0;
	width: 100%;
	height: 33.3333%;
	box-sizing: border-box;
	display: inline-block;
	float: left;
	background: rgba(142, 189, 201, 0.8);
	background: -o-linear-gradient(top, rgba(148,172,181,1) 0%,rgba(23,86,127,1) 100%);
	-moz-box-shadow:
	0px -1px 3px rgba(190,255,255,0.5), 
	2px 3px 3px rgba(0,0,0,0.2), 
	inset 0 -1px 1px rgba(0,0,0,0.5), 
	inset 0 1px 1px rgba(255,255,255,1); 
	-webkit-box-shadow:
	0px -1px 3px rgba(190,255,255,0.5), 
	2px 3px 3px rgba(0,0,0,0.2), 
	inset 0 -1px 1px rgba(0,0,0,0.5), 
	inset 0 1px 1px rgba(255,255,255,1); 
	box-shadow: 0px -1px 3px rgba(190,255,255,0.5), 
	2px 3px 3px rgba(0,0,0,0.2), 
	inset 0 -1px 1px rgba(0,0,0,0.5), 
	inset 0 1px 1px rgba(255,255,255,1); 
	z-index: 1;
}

#two {
	position: absolute;
	top: 33.3333%;
}

#three {
	position: absolute;
	top: 66.6666%;
	z-index: 7;
}

.bar p {
	padding: 10%;
	font-size: 30px;
}

p {
	text-align: center;
	/*color: white;*/
}

#two:hover {
	background: rgba(255, 255, 255, 0.5);
	box-shadow: 5px 10px 20px grey inset;
}

.bar p:hover {
	background-color: black;
}