body {
	margin: 0;
	padding: 0;
}

#start {
	width: 80%;
	height: 80vh;
	border-left: 10vw solid grey;
	border-bottom: 20vh solid black;
	border-right: 10vw solid grey;
	margin: auto;
}

#start p {
	text-align: center;
    padding: 10px;
    box-shadow: 5px 10px 18px #888888;
    margin: 0;
}

div #time {
	width: 40%;
	height: 10vh;
	margin: 10vh auto;
    padding: 10px 0;
    box-shadow: 5px 10px 18px #888888;
}

#time h5 {
	margin: auto;
	padding: 10px;
	text-transform: uppercase;
	text-align: center;
	font-size: 20px;
}

#time #display {
	margin: auto;
	width: 90%;
	padding: 4px;
	box-shadow: 1px -4px 17px grey;
}

div #mirror {
	width: 40%;
	height: 25vh;
	margin: 10vh auto;
    padding: 10px 0;
    box-shadow: 5px 10px 18px #888888;
    box-sizing: border-box;
}

div .countdown {
	width: 50%;
	height: 100%;
	display: inline-block;
	float: left;
}

#mirror p {
	box-shadow: 1px -4px 17px grey;
}